<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form action="/login" method="post">
                <legend class="text-center">Kirjaudu</legend>
                <div class="form-group">
                    <label for="username">Käyttäjänimi</label>
                    <input class="form-control" type="text" name="username" placeholder="käyttäjä">
                </div>
                <div class="form-group">
                    <label for="password">Salasana</label>
                    <input class="form-control" type="password" name="password" placeholder="salasana">
                </div>
                <p><a href="/forgot">Unohditko Salasanan?</a></p>
                <div class="form-group">
                <button class="btn btn-success btn-lg btn-block" type="submit">Kirjaudu sisään</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ./partials/footer %>